@media (max-width: 420px) {
    .new {
        font-size: 12px;
    }
}

@media (min-width: 421px) {
    .new {
        font-size: 15px;
    }
}

@media (min-width: 561px) {
    .cover-image {
        height: 430px;
    }
}