@media (min-width: 768px) {
    .b {
        display: flex;
    }
}

@media (min-width: 768px) {
    .b3 {
        margin-right: 16px;
    }
}

@media (max-width: 500px) {
    .b3 {
        margin-right: 20px;
    }
}

.test {
    display: flex;
}

@media (max-width: 991px) {
    .test {
        display: flex;
        flex-direction: column;
    }
}