<!--Forgot password-->
<section class="sptb">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-xl-4 col-md-6 d-block mx-auto">
                <div class="single-page w-100 p-0" >
                    <div class="wrapper wrapper2">
                        <form id="forgotpsd" class="card-body">
                            <h3 class="pb-2">{{"Forgot Password"|translate}}</h3>
                            <div class="mail">
                                <input type="email" name="mail">
                                <label> {{"Email"|translate}} </label>
                            </div>
                            <div class="submit">
                                <a class="btn btn-primary btn-block"> {{"Send"|translate}} </a>
                            </div>
                            <div class="text-center text-dark mb-0">
                               أعدني إلى <a class="text-primary ml-1"  routerLink="/user/login">تسجيل الدخول</a>.
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/Forgot password-->