<div class="container card d-flex justify-content-center align-items-center" style="margin-top:30px;padding:10px;border-radius: 10px;">
    <h1>
        {{"Market working hours"|translate}}
	</h1>
</div>

<div class="container card" style="margin-top:30px;padding:30px;border-radius: 10px;">
    <div class="wideget-user-followers">
        <div class="media m-0 mt-0 ">
            <img class="avatar brround avatar-md ml-3" src="../assets/images/users/male/18.jpg" alt="avatar-img">
            <div class="media-body">
                <a href="" class="text-default font-weight-semibold">John Paige</a>
                <p class="text-muted ">johan@gmail.com</p>
            </div>
        </div>
        <div class="media mt-2 ">
            <span class="avatar cover-image avatar-md brround bg-secondary ml-3">LQ</span>
            <div class="media-body">
                <a href="" class="text-default font-weight-semibold">Lillian Quinn</a>
                <p class="text-muted">lilliangore</p>
            </div>
        </div>
        <div class="media mt-2 ">
            <span class="avatar cover-image avatar-md brround ml-3">IH</span>
            <div class="media-body">
                <a href="" class="text-default font-weight-semibold">Irene Harris</a>
                <p class="text-muted">ireneharris@gmail.com</p>
            </div>
        </div>
        <div class="media mt-2 ">
            <img class="avatar brround avatar-md ml-3" src="../assets/images/users/female/22.jpg" alt="avatar-img">
            <div class="media-body">
                <a href="" class="text-default font-weight-semibold">Harry Fisher</a>
                <p class="text-muted mb-0">harryuqt</p>
            </div>
        </div>
    </div>
</div>