<div class="container card d-flex justify-content-center align-items-center" style="margin-top:30px;padding:10px;border-radius: 10px;">
    <h1>{{'Market Analysis'|translate}}</h1>
</div>
<div class="container card" style="padding:30px;border-radius: 10px;">
    <div id="profile-log-switch">
        <section class="sptb">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <div class="row">


                        <div *ngIf="EntityStatue == 1" style="margin-bottom: 10px;">
                            <h2>تحليلات سوق الفوركس</h2>
                        </div>
                        <div *ngIf="EntityStatue == 2" style="margin-bottom: 10px;">
                            <h2>تحليلات سوق السلع</h2>
                        </div>
                        <div *ngIf="EntityStatue == 3" style="margin-bottom: 10px;">
                            <h2>تحليلات العملات الرقميه</h2>
                        </div>
                        <div *ngIf="EntityStatue == 4" style="margin-bottom: 10px;">
                            <h2>تحليلات سوق الاسهم</h2>
                        </div>
                        <div class="b col-lg-12 col-md-12 col-sm-12">
                            <div class="card col-lg-8 col-md-7 col-sm-12" style="display: block; ">

                                <div *ngFor="let forex of taskArr | paginate: { itemsPerPage: 10, currentPage: page ,totalItems:taskArrlength}" class=" card-body " style="height:25%">

                                    <div class="item-card9 " style="display: flex;">


                                        <img src="{{imageHost+forex.image}}" style="height: 85px; margin-top: 13px; width: 102px;" alt=""> &nbsp;&nbsp;&nbsp;
                                        <div class="mt-2 mb-2" style="width: 800px;overflow: hidden;">
                                            <a [routerLink]="['/spike/BlogDetails/'+forex.id]" class="text-dark">
                                                <h3 class="font-weight-semibold mt-1">{{forex.titleA}}</h3>
                                            </a>


                                            <p class="mb-0 leading-tight" [innerHtml]="forex.descA.slice(0,100)"> </p>
                                            <div class="test">
                                                <a href="#" class="ml-4 float-right"><span class="text-muted fs-13"><i class="fa fa-user-o text-muted ml-1"></i>{{forex.publisher}}</span></a>
                                                <a class="ml-4"><span class="text-muted fs-13"><i class="fa fa-clock-o text-muted ml-1"></i> {{forex.createdOn|date:'short'}}</span></a>

                                            </div>
                                            <br>
                                            <div style="width: 100%; display: flex; justify-content: end;

                                          align-items: center;">
                                                <a [routerLink]="['/spike/BlogDetails/'+forex.id]" class="text-white btn btn-primary btn-lg text">{{"Read More"|translate}}</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="card col-lg-4 col-md-5 col-sm-12">
                                <div class="card-header">
                                    <h3 class="card-title">{{"Training courses and electronic trading seminars"|translate}}</h3>
                                </div>
                                <div class="card-body">
                                    <div *ngFor="let lec of lecture.slice(0,1)" style="    background-color: #f6f6f6;">
                                        <div>
                                            <a [routerLink]="['/spike/schedualoftrading']"><img style="height:170px;" class="d-block w-100" alt="" src="{{imageHost+lec.image}}"></a>
                                        </div>
                                        <div>
                                            <a [routerLink]="['/spike/schedualoftrading']">
                                                <h3>{{lec.title}}</h3>
                                            </a>
                                        </div>
                                        <div>
                                            <a class="ml-4"><span class="text-muted fs-13"><i class="fa fa-clock-o text-muted ml-1"></i> {{lec.date|date:'short'}}</span></a>
                                        </div>
                                        <div style="margin-bottom: 35px;">
                                            <h3>أ.{{lec.speakers}}</h3>
                                        </div>
                                        <div style="display: flex;justify-content: space-between;">
                                            <h4>مجانا عبر الانترنت</h4>
                                            <a style="color:white ;width: 85px; height: 38px;" (click)="create(lec.id)" class="btn btn-primary">سجل الان</a>
                                        </div>
                                    </div>

                                    <div *ngFor="let lec of lecture.slice(1,3)" style="    margin-top: 60px;">
                                        <div style="display: flex; flex-direction: row; ">
                                            <div>
                                                <a [routerLink]="['/spike/schedualoftrading']"><img style="height:170px;     height: 80px;
                                                    width: 80px;
                                                    border-radius: 50px;
                                                    margin: 8px;
                                                " class="d-block" alt="" src="{{imageHost+lec.image}}"></a>
                                            </div>

                                            <div style="display: flex; flex-direction: column; justify-content: center;" class="b3">
                                                <a [routerLink]="['/spike/schedualoftrading']">
                                                    <p style="margin: 0;">{{lec.title}}</p>
                                                </a>
                                                <a class="ml-4"><span class="text-muted fs-13"><i class="fa fa-clock-o text-muted ml-1"></i> {{lec.date|date:'short'}}</span></a>
                                                <p>أ.{{lec.speakers}}</p>
                                            </div>
                                        </div>

                                        <div style="display: flex;justify-content: space-between; margin-top: 50px;">
                                            <h4>مجانا عبر الانترنت</h4>
                                            <a style="color:white ;width: 85px;" (click)="create(lec.id)" class="btn btn-primary">سجل الان</a>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>



                    </div>

                </div>

            </div>

        </section>
    </div>
</div>