<section>
    <div class="bannerimg">
        <div class="header-text mb-0">
            <div class="container">
                <div class="text-center text-white" *ngFor="let detail of taskArr">
                    <h1 style="color:#9d4edd;font-family:Cairo;" class="">{{detail.title}}</h1>

                </div>
            </div>
        </div>
    </div>
</section>
<!--/Breadcrumb-->
<!--/Section-->

<!--Section-->
<section class="sptb">
    <div class="container">
        <div class="row">
            <div class="d-block mx-auto col-lg-8 col-md-12">
                <div class="card blog-detail">
                    <div *ngFor="let detail of taskArr" class="card-body">
                        <div class="item7-card-img">
                            <img src="{{imageHost+detail.image}}" alt="img" class="w-100">
                            <a href="{{detail.url}}" target="_blank">
                                <span class="btn badge badge-danger">{{'Youtube'|translate}}</span>
                            </a>
                        </div>
                        <div class="item7-card-desc d-flex mb-2 mt-3 test" style="display: flex !important;">
                            <a class="text-muted"><i class="fa fa-calendar-o ml-2"></i>{{detail.createdOn|date:'short'}}</a>
                            <a class="text-muted"><i class="fa fa-user-o text-muted ml-2"></i>{{detail.publisher}}</a>
                            <div>
                                <a class="text-muted"><i class="fa fa-comment-o ml-2"></i>2 Comments</a>
                            </div>
                        </div>
                        <a class="text-dark">
                            <h2 class="font-weight-semibold">{{detail.title}}</h2>
                        </a>
                        <p>{{detail.desc}}</p>

                        <h4 class="mb-4 font-weight-bold"> مميزات الباقه</h4>
                        <div class="row">
                            <div class="col-xl-6 col-md-12">
                                <ul class="list-unstyled widget-spec mb-0">
                                    <li class="">
                                        <i class="fa fa-star text-muted w-5"></i>{{detail.feature_1}}
                                    </li>
                                    <li class="">
                                        <i class="fa fa-star text-muted w-5"></i> {{detail.feature_2}}
                                    </li>
                                    <li class="">
                                        <i class="fa fa-star text-muted w-5"></i> {{detail.feature_3}}
                                    </li>
                                    <li class="">
                                        <i class="fa fa-star text-muted w-5"></i> {{detail.feature_4}}
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center" style="float: left;">
                            <span style="padding:10px;text-align: center;" class="btn btn-primary item-card-badge"><a class="text-white p-5" style="font-size:large;" (click)="create(detail.id)" >{{"subscribe" |translate}}</a></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>