
<div class="container card d-flex justify-content-center align-items-center" style="margin-top:30px;padding:10px;border-radius: 10px;">
    <h1>{{"currency converter"|translate}}</h1>
</div>

<div class="container card" style="margin-top:30px;padding:30px;border-radius: 10px;">

    <div class="wideget-user-followers row">
        <div class="col-md-3" >
            <iframe 
                style="margin:0;"
                height="355" 
                width="215" 
                src="https://ssltools.investing.com/currency-converter/index.php?from=17&to=12&force_lang=3">
            </iframe><br />
            
        </div>
        <div class="col-md-7">
            <iframe 
                src="https://sa.widgets.investing.com/live-currency-cross-rates?theme=darkTheme"
                width="100%" 
                height="100%" 
                frameborder="0" 
                allowtransparency="true" 
                marginwidth="0" 
                marginheight="0">
            </iframe>
        </div>
    </div>

</div>
   

